<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
	<%= f.label :name, 'Name of Open Mic or Venue' %>
	<br />
	<%= f.text_field :name %>
</div>
<div class='field'>
	<%= f.label :dow, 'Day of the Week' %>
	<br />
	<%= f.select :dow, [['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]] %>
</div>
<div class="field">
	<%= f.label :start_time %> (examples '09:00' or '23:00')
	<br />
	<%= f.time_select :start_time %>
</div>
<div class="field">
	<%= f.label :end_time %> (examples: '9:00' or '23:00')
	<br />
	<%= f.time_select :end_time %>
</div>
<div class="field">
	<%= f.label :street_1 %>
	<br />
	<%= f.text_field :street_1 %>
</div>
<div class="field">
	<%= f.label :street_2 %>
	<br />
	<%= f.text_field :street_2 %>
</div>
<div class="field">
	<%= f.label :city %>
	<br />
	<%= f.text_field :city %>
</div>
<div class="field">
	<%= f.label :prov_state, 'Province/State' %>
	<br />
	<%= f.select :prov_state, options_for_select([[ "Select a Province/State", "" ]] + 
  			provinces_and_states, :selected => @open_mic.prov_state) %>
</div>
<div class="field">
	<%= f.label :postal_zip, 'Postal Code/Zip Code' %>
	<br />
	<%= f.text_field :postal_zip %>
</div>
<div class="field">
	<%= f.label :country %> (automatically populated by selecting province/state)
	<br />
	<%= f.text_field :country, :readonly => "true" %> 
</div>
<div class="field">
	<%= f.label :url, 'Official Home Page URL' %>
	<br />
	<%= f.text_field :url %>
</div>
<div class="field">
	<%= recaptcha_tags %>
</div>

<script type="text/javascript">
	$("#open_mic_prov_state").change(function(){
		if( ($("#open_mic_prov_state").val() == "AB") ||
			($("#open_mic_prov_state").val() == "BC") ||
			($("#open_mic_prov_state").val() == "MB") ||
			($("#open_mic_prov_state").val() == "NB") ||
			($("#open_mic_prov_state").val() == "NL") ||
			($("#open_mic_prov_state").val() == "NT") ||
			($("#open_mic_prov_state").val() == "NS") ||
			($("#open_mic_prov_state").val() == "NU") ||
			($("#open_mic_prov_state").val() == "ON") ||
			($("#open_mic_prov_state").val() == "QC") ||
			($("#open_mic_prov_state").val() == "SK") ||
			($("#open_mic_prov_state").val() == "PE") ||
			($("#open_mic_prov_state").val() == "YT")) {
			$("#open_mic_country").val("Canada");		
		}
		else {
			$("#open_mic_country").val("United States");
		}
	});
</script>

