	<!-- News -->
	<h2>News</h2>
	<div class="infosection">
		<% if @posts.empty? %>
			<li> There is currently no news for this Open Mic.</li>
		<% else %>
			<% @posts.each do |post| %>
				<li><%= post.updated_at.strftime("%B %d, %Y: ") + " " + post.body %></li>
			<% end %>
		<% end %>
	</div>
	<%= link_to "View All News", open_mic_posts_url(@open_mic) %>

	<br/><br/>

	<% if can_manage_posts_for(@open_mic) %>
		<p>
			<%= form_for [@open_mic, @post] do |f| %>
  				<%= render 'shared/error_messages', :object => f.object %>
  				<div class="field">
   		 			<%= f.text_area :body, :class => "post", :placeholder => "You are the host of this open mic! Feel free to post some news here!" %>		
    			</div>
 				<%= f.hidden_field :open_mic_id, :value => @open_mic.id %>
  				<div class="actions">
    				<%= f.submit "Publish News" %>
  				</div>
			<% end %>
		</p>
	<% end %>