<% if @open_mic.published %>
	<table class='full-width' >
		<tr>
			<td>
				<h1>
					<%= @open_mic.name %>
					<% if admin? %>
						| <%= link_to "edit", edit_open_mic_path(@open_mic) %>
						| <%= link_to 'delete', @open_mic, 
								:method => :delete, 
								:confirm => "Are you sure you want to delete #{@open_mic.name}?", 
								:title => "Delete Open Mic?" %>
					<% end %>
				</h1>

				<%= render 'news' %>
				<%= render 'info' %>
			</td>
			<td class='attendees-column'>
				<%= render 'attendees' %>				
			</td>
		</tr>
	</table>
	
<% else %>
	<h1>Open Mic Coming Soon!</h1>
	<p>This page contains Open Mic Information that is awaiting approval.</p>
	<% if admin? %>
		<%= link_to "publish", edit_open_mic_path(@open_mic) %> 
		| <%= link_to 'delete', @open_mic, 
						:method => :delete, 
						:confirm => "Are you sure you want to delete #{@open_mic.name}?", 
						:title => "Delete Open Mic?" %>
	<% end %>
<% end%>

