<h1>Welcome to Capo!</h1>
<hr>
<%= image_tag "iPhone-Splash.png" %>

<hr>

<p>
	Capo is an Open Mic Community Tool where audience members and players alike can find the latest entertainment!
</p>
<p>
	New to Capo? Be sure to become a member by signing up <%= link_to 'here', '/signup' %>.
</p>
<p>
	Know about an Open Mic that's not in our database, send us the information <%= link_to "here", "/open_mics/new" %>.
</p>
<p>
	Are you the Host of an Open Mic? Want access to certain Host features? Let us know <%= link_to "here", "/feedback" %>.
</p>
<p>
	We always welcome lots of feedback. Please send us your thoughts and suggestions <%= link_to "here", "/feedback" %>.
</p>
<hr>
<g:plusone annotation="inline"></g:plusone>
<br/>
<br/>
<div class="fb-like" data-href="http://www.capoapp.ca" data-send="true" data-width="450" data-show-faces="true" data-colorscheme="dark" data-font="arial"></div>