
<h1>Edit Profile</h1>

<p>
	<div class='gravatar-image'>
		<%= gravatar_image_tag(@user.email, :alt => @user.first_name + " " + @user.last_name) %>
	</div>
	<div class='gravatar-description'>
		You can change your avatar at <%= link_to 'gravatar.com', 'http://www.gravatar.com', :target => "_blank" %> (it's free)
		<br/>
		We're using the avatar associated with <%= @user.email %>
	</div>
</p>

<%= form_for @user do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.label :email %><br/>
	<%= f.text_field :email %><br/>
	<%= f.label :first_name %><br/>
	<%= f.text_field :first_name %><br/>
	<%= f.label :last_name %><br/>
	<%= f.text_field :last_name %><br/>
	<%= f.label :password %><br/>
	<%= f.password_field :password %><br/>
	<%= f.label :password_confirmation %><br/>
	<%= f.password_field :password_confirmation %><br/>
	<%= f.submit %>
<% end %>
