<h1>About Capo</h1>
<p>
	Capo (pronounced 'kay-po') is an Open Mic Community Tool.
</p>
<p>
	It is built on Ruby on Rails and jQTouch.
</p>
<p>
	Developed by Casey Li.
</p>
<p>
	<%= link_to "www.caseyli.com", "http://www.caseyli.com", :target => "_blank" %>
</p>

<h2>Feedback</h2>
<p>
	During this crucial development phase, we welcome lots of feedback about anything and everything about this app. Please
		send us your thoughts and suggestions <%= link_to "here", "/feedback" %>.
	
</p>
<h2>Submit an Open Mic</h2>
<p>
	Know about an Open Mic that's not in our database, send us the information <%= link_to "here", "/feedback" %>.
</p>
<h2>Become the Host of an Open Mic</h2>
<p>
	Are you the Host of an Open Mic in our database? Want access to certain Host features? Let us know <%= link_to "here", "/feedback" %>.
</p>
<h2>Contribute to Capo</h2>
<p>
	Are you a developer who wants to get involved? Capo is Open Source! Whether you want to do Ruby on Rails, HTML5, iOS, Android, Javascript, CSS,
	we'd love you contribute. <br/>
	You can find the source code <%= link_to "here", "http://www.github.com/caseyli/capo", :target => "_blank" %>. <br/>
	If you have any questions or want suggestions on what you can work on, send us a message <%= link_to "here", "/feedback" %>.
</p>
