<!-- HOME -->
<div id="home">
	<div class="toolbar">
		<h1>Capo</h1>
	</div>
            
	<br />
	<div class="blockcenter">
		<%= image_tag "iphonemain.png" %>
	</div>
	<ul class="rounded">
		<li class="arrow"><a href="#" id="homeBrowseButton">Browse</a></li>
		<li><a href="#submitopenmic" class="pop">Submit Open Mic</a></li>
		<li><a href="#login" class="slideup">Login</a></li>
		<li><a href="#feedback" class="pop">Feedback</a></li>
		<li><a href="#about" class="pop">About</a></li>
	</ul>
	<div class="blockcenter view-full-site">
		 <%= link_to "View Full Site",
          {:controller => "browsers", :action => :desktop},
          :target => "_blank" %>
	</div>
</div>

<!-- HOME LOGGED IN -->
<div id="homeloggedin">
	<div class="toolbar">
		<h1>Capo</h1>
		<a class="button" id="toolbarlogoffButton" href="#">Logoff</a>
	</div>
    
	<div class="blockcenter topimage">
		<%= image_tag "iphoneshort.png" %>
	</div>

	<ul class="rounded">
		<li class="arrow"><a href="#" id='browseButton'>Browse</a></li>
		<li><a href="#submitopenmic" class="pop">Submit Open Mic</a></li>
		<li><a href="#profile">Profile</a></li>
		<li><a href="#" id="logoffButton">Logoff</a></li>
		<li><a href="#feedback" class="pop">Feedback</a></li>
		<li><a href="#about" class="pop">About</a></li>
	</ul>	
	<div class="blockcenter view-full-site">
		 <%= link_to "View Full Site",
          {:controller => "browsers", :action => :desktop},
          :target => "_blank" %>
	</div>
</div>
        
<!-- BROWSE -->
<div id="browse">
	<div class="toolbar">
		<h1>Browse</h1>
		<a class="button back" href="#">Back</a>
		<a class="button slideup" id="toolbarfilterButton" href="#filter">Filter</a>
	</div>
            
     <div id="browse_body">
     </div>
</div>

<!-- FILTER -->
<div id="filter">
	<div class="toolbar">
		<h1>Filter</h1>
		<a class="button back" href="#">Cancel</a>
	</div>
	
	<div id="filter_body">
		<form>
			<div class="blockcenter">
				<select id="cityFilterSelect">
				</select>
			</div>
			<a href="#" class='grayButton' id='submitFilterButton'>Submit</a>
		</form>	
	</div>
</div>

<!-- OPEN MIC INFO -->
<div id="openmicinfo">
	<div class="toolbar">
		<h1>Info</h1>
		<a class="button back" href="#">Back</a>
	</div>
	
	<div id="openmicinfo_body">
	</div>
</div>

<!-- Map -->
<div id="openmicmap">
	<div class="toolbar">
		<h1>Map</h1>
		<a class="button back" href="#">Done</a>
	</div>
	
	<div id="openmicmap_body">
		<div id="mapcontainer">
			<div id="mapcanvas"></div>
		</div>
		<div id="mapcaption">
		</div>
	</div>
</div>

<!-- OPEN MIC ATTENDEE LIST -->
<div id="openmicattendeelist">
	<div class="toolbar">
		<h1>Attendee List</h1>
		<a class="button back" href="#">Done</a>
	</div>
	<ul id="openmicattendeelist_body" class="rounded">
	</ul>
	<div class="blockcenter">
		Attendee List is cleared at 5:00 AM EST every week the day after the Open Mic.
	</div>
</div>

<!-- SUBMIT OPEN MIC -->
<div id="submitopenmic">
	<div class="toolbar">
		<h1>Submit</h1>
		<a class="button back" href="#">Cancel</a>
	</div>
	<div class="blockcenter">
		<br/>
		Fill out what you can and leave the rest blank.
	</div>
	<form>
		<ul class="edit rounded">
			<li><input type='text' name='som_name' id='som_name' placeholder='Name of Open Mic/Venue' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li class="arrow">
	            <select id="som_dow">
	                <option value ="0">Sunday</option>
	                <option value ="1">Monday</option>
	                <option value ="2">Tuesday</option>
	                <option value ="3">Wednesday</option>
	                <option value ="4">Thursday</option>
	                <option value ="5">Friday</option>
	                <option value ="6">Saturday</option>
	            </select>
            </li>			
			<li><input type='text' name='som_start_time' id='som_start_time' placeholder='Start Time (e.g 10:00 or 23:00)' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li><input type='text' name='som_end_time' id='som_end_time' placeholder='End Time (e.g 09:30 or 23:15)' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li><input type='text' name='som_street_1' id='som_street_1' placeholder='Street 1' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li><input type='text' name='som_street_2' id='som_street_2' placeholder='Street 2' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li><input type='text' name='som_city' id='som_city' placeholder='City' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li class="arrow">
	            <select id="som_prov_state">
					<%= options_for_select(provinces_and_states) %>
	            </select>
            </li>	
			<li><input type='text' name='som_postal_zip' id='som_postal_zip' placeholder='Postal/Zip Code' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li><input type='text' name='som_country' id='som_country' placeholder='Country' autocapitalize="on" autocorrect="off" autocomplete="off" readonly="true" value="Canada"></li>
			<li><input type='text' name='som_url' id='som_url' placeholder='Home Page URL' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			
		</ul>
		<a href="#" class='grayButton' id='submitopenmicButton'>Submit</a>
		<br/>
	</form>
</div>

<script type="text/javascript">
	$("#som_prov_state").change(function(){
		if( ($("#som_prov_state").val() == "AB") ||
			($("#som_prov_state").val() == "BC") ||
			($("#som_prov_state").val() == "MB") ||
			($("#som_prov_state").val() == "NB") ||
			($("#som_prov_state").val() == "NL") ||
			($("#som_prov_state").val() == "NT") ||
			($("#som_prov_state").val() == "NS") ||
			($("#som_prov_state").val() == "NU") ||
			($("#som_prov_state").val() == "ON") ||
			($("#som_prov_state").val() == "QC") ||
			($("#som_prov_state").val() == "SK") ||
			($("#som_prov_state").val() == "PE") ||
			($("#som_prov_state").val() == "YT")) {
			$("#som_country").val("Canada");		
		}
		else {
			$("#som_country").val("United States");
		}
	});
</script>
        
<!-- LOGIN -->
<div id="login">
	<div class="toolbar">
		<h1>Login</h1>
		<a class="button back" href="#">Back</a>
	</div>
	<form>
		<ul class="edit rounded">
			<li><input type='text' name='login_email' id='login_email' placeholder='e-mail' autocapitalize="off" autocorrect="off" autocomplete="off"></li>
			<li><input type='password' name='login_password', id='login_password', placeholder='password'></li>
			
		</ul>
		<a href="#" class='grayButton' id='loginButton'>Login</a>
	</form>
	
	<div class="blockcenter">
		<br/>
		New User? Register <a href="#register" class="pop">here</a>
	</div>
</div>

<!-- REGISTER -->
<div id="register">
	<div class="toolbar">
		<h1>Register</h1>
		<a class="button back" href="#">Cancel</a>
	</div>
	<form>
		<ul class="edit rounded">
			<li><input type='text' name='reg_first_name' id='reg_first_name' placeholder='first name' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li><input type='text' name='reg_last_name' id='reg_last_name' placeholder='last name' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li><input type='text' name='reg_email' id='reg_email' placeholder='e-mail' autocapitalize="off" autocorrect="off" autocomplete="off"></li>
			<li><input type='password' name='reg_password', id='reg_password', placeholder='password'></li>
			<li><input type='password' name='reg_confirmation', id='reg_confirmation', placeholder='confirm password'></li>
			
		</ul>
		<a href="#" class='grayButton' id='registerButton'>Register</a>
	</form>
</div>

<!-- PROFILE -->
<div id="profile">
	<div class="toolbar">
		<h1>Profile</h1>
		<a class="button back" href="#">Cancel</a>
	</div>
	<div id="profile_body">
	</div>
	<div id="profile_actions" class='actions'>
		<a class='grayButton slideup' href='#editprofile' id='editprofileButton'>Edit</a>
	</div>
</div>
<div id="editprofile">
	<div class="toolbar">
		<h1>Edit Profile</h1>
		<a class="button back" href="#">Cancel</a>
	</div>
	<form>
		<ul class="edit rounded">
			<li><input type='text' name='edit_user_email' id='edit_user_email' placeholder='email' autocapitalize="off" autocorrect="off" autocomplete="off"></li>
			<li><input type='text' name='edit_user_first_name' id='edit_user_first_name' placeholder='first name' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li><input type='text' name='edit_user_last_name' id='edit_user_last_name' placeholder='last name' autocapitalize="on" autocorrect="off" autocomplete="off"></li>
			<li><input type='password' name='edit_user_password', id='edit_user_password', placeholder='password'></li>
			<li><input type='password' name='edit_user_password_confirmation', id='edit_user_password_confirmation', placeholder='confirm password'></li>
		
		</ul>
		<a href="#" class='grayButton' id='updateprofileButton'>Update</a>
	</form>
</div>
        
<!-- ABOUT -->
<div id="about">
	<div class="toolbar">
		<h1>About</h1>
		<a class="button back" href="#">Back</a>
	</div>
	<br/>
	<div class="infosection">
		<p>Capo (pronounced 'kay-po') is an Open Mic Community Tool.</p>
		<br />
		<p>Powered by Ruby on Rails and JQTouch</p>
		<br />
		<p>Developed by Casey Li</p>
		<br />
		<p><a href="http://www.caseyli.com" target="_blank">www.caseyli.com</a></p>
	</div>
</div>

<!-- FEEDBACK -->
<div id="feedback">
	<div class="toolbar">
		<h1>Feedback</h1>
		<a class="button back" href="#">Cancel</a>
	</div>
	<form>
		<ul class="edit rounded">
			<li><input type='text' name='feedback_email' id='feedback_email' placeholder='email' autocapitalize="off" autocorrect="off" autocomplete="off"></li>
			<li><textarea name='feedback_message' id='feedback_message' placeholder='message' autocapitalize="on" autocorrect="off" autocomplete="off"></textarea></li>
		</ul>
		<a href="#" class='grayButton' id='sendFeedbackButton'>Send</a>
	</form>
		<div class="blockcenter">
			<br/>
			Thank you for your feedback.
		</div>
</div>
