<!DOCTYPE html>
<html>
<head>
  	<title>Capo</title>
  	<%= stylesheet_link_tag 'main' %>
  	
  	<%= javascript_include_tag 'prototype.js' 'effects.js' 'dragdrop.js' 'controls.js' 'application.js' %>
  	<%= javascript_include_tag 'jquery-1.7.min.js'%>
  	<%= javascript_include_tag 'rails.js'%>
  	<%= csrf_meta_tag %>  
  	
  	<!--[if lt IE 9]>
		<script>
			document.createElement('header');
			document.createElement('nav');
			document.createElement('section');
			document.createElement('article');
			document.createElement('aside');
			document.createElement('footer');
			document.createElement('hgroup');
		</script>
	<![endif]-->
		
	<!-- Google Analytics -->
	<script type="text/javascript">

  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-28912916-1']);
  		_gaq.push(['_trackPageview']);

  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();

	</script>
	
	<!-- Google +1 -->
	<script type="text/javascript">
  		(function() {
    		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    		po.src = 'https://apis.google.com/js/plusone.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  	})();
</script>
		
</head>
<body>
	<!-- Facebook Like -->
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
  			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id)) return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	
	<div class="container">
		<div class="header">
			<%= render 'layouts/header'%>
			<% flash.each do |key, value| %>
				<div class="flash <%= key %>"><%= value %></div>
			<% end %>
		</div>
		<div class="main">
			<%= yield %>
		</div>
		<div class="footer">
			<%= render 'layouts/footer' %>
		</div>
	</div>
</body>
</html>
