<html>
    <head>
        <title>Capo</title>
        
        <!-- JQTouch -->
        <%= stylesheet_link_tag "iphone" %>
        <link type="text/css" rel="stylesheet" media="screen" href="jqtouch/jqtouch.css">
		<link type="text/css" rel="stylesheet" media="screen" href="themes/capo/theme.css">
		<link type="text/css" rel="stylesheet" media="screen" href="jquery-loadmask-capo/jquery.loadmask.capo.css">
		<script type="text/javascript" src="jqtouch/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="jqtouch/jqtouch.js"></script>
		<script type="text/javascript" src="jquery-loadmask-capo/jquery.loadmask.capo.js"></script>
		<%= javascript_include_tag 'jquery.gravatar' %>
		<%= javascript_include_tag 'md5' %>
		<script type="text/javascript">
    		var jQT = $.jQTouch({
        		icon: 'apple-touch-icon-114x114.png',
        		statusBar: 'black',
        		addGlossToIcon: false,
        		startupScreen: '/images/iphonestartup.png'
    		});
    	</script>
    	<%= render "iphone/eventhandlers" %>
    	<%= render 'iphone/initialize' %>
    </head>
    <body onload="initialize()">
    	<%= render "iphone/ui" %>  
    </body>
</html>